<footer class="bg-dark text-center py-4 border-top border-secondary mt-5">
    <div class="container">
        <div class="social-links mb-3">
            <a href="#" class="text-primary mx-3"><i class="fab fa-linkedin fa-2x"></i></a>
            <a href="#" class="text-primary mx-3"><i class="fab fa-github fa-2x"></i></a>
        </div>
        <p class="mb-0">&copy; 2023 <%= profile.name %>. All rights reserved.</p>
    </div>
</footer>